<extend name="Public/base" />
<block name='content'>
    <div class="page__hd content text-center" style='text-align: center;'>
        <img src="__PUBLIC__/images/wx.png" class='img-response' style='width:40%;margin-top: 1rem;'>
        <p>即将使用微信支付</p>   
        <h1>¥<{$orderInfo.payPrice}>.00</h1>
        <button class="weui-btn weui-btn_plain-default weui-btn_mini pay_btn" style='display:none'>重新支付</button>
    </div>

    <div class="js_dialog success_dialog" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">
                <p>支付成功。</p>
                <p>支付金额：¥<{$orderInfo.payPrice}>.00。</p>
                <p>订单号：<{$orderInfo.orderNo}></p>
            </div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary close-web">关闭页面</a>
            </div>
        </div>
    </div>
</block>
<block name='footer-js'>
    <script>
    $(document).ready(function() {
        setTimeout("startPay()",1000);
        wx.config({
          debug: false,
          appId: '<{$js_sign['appid']}>', // 必填，公众号的唯一标识
          timestamp: <{$js_sign['timestamp']}>, // 必填，生成签名的时间戳，切记时间戳是整数型，别加引号
          nonceStr: '<{$js_sign['noncestr']}>', // 必填，生成签名的随机串
          signature: '<{$js_sign['signature']}>', // 必填，签名，见附录1
          jsApiList: [
            'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem'
          ]
      });
    
    wx.ready(function(){
        wx.onMenuShareTimeline({
            title: "Alexander's官方商城", // 分享标题
            link: 'http://www.icalex.com/Mobile/Order', // 分享链接
            imgUrl: 'http://www.icalex.com/Public/images/ice_one.png', // 分享图标
            success: function () { 
                // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
            }
        });

        wx.onMenuShareAppMessage({
            title: "Alexander's官方商城", // 分享标题
            desc: '做最好的雪糕品牌', // 分享描述
            link: 'http://www.icalex.com/Mobile/Order', // 分享链接
            imgUrl: 'http://www.icalex.com/Public/images/ice_one.png', // 分享图标
            success: function () { 
                // 用户确认分享后执行的回调函数
            },
            cancel: function () { 
                // 用户取消分享后执行的回调函数
            }
        });
    });
       });
    //重新支付 点击事件
    $('.pay_btn').on('click', function(){
        $('this').text('请稍候');
        $("this").attr({"disabled":"disabled"});
        startPay();
    });
    //关闭页面 点击事件
    $('.close-web').on('click', function(){
        $('.success_dialog').fadeOut(500);
        setTimeout("close_window()",600);
    });
    //重新支付
    function startPay(){
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
         }else{
             jsApiCall();
         }
    }
    //关闭页面
    function close_window(){
        wx.closeWindow();
    }

    //调用微信JS api 支付
    function jsApiCall()
    {
      WeixinJSBridge.invoke(
        'getBrandWCPayRequest',
        <{:json_encode($wxPayParams)}>,
        function(res){
            if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                window.location.href = "<{:U('finishOrder')}>?no=<{$orderInfo.orderNo}>"
            } else { 
                window.location.href = "<{:U('Vip/order_details')}>?no=<{$orderInfo.orderNo}>"
            }
        }
      );
    }
        </script>
</block>