<div class="goods-info popup-goods-content" >
    <div class="img-box" style='background-image: url("<{$special_goods.img}>");'></div>
    <div class="weui-flex goods-control">
        <div class="weui-flex__item">
            <div class="modal-name"><{$special_goods.name}></div>
        </div>
        <div class="weui-flex__item">
            <div class='text-right item-btn modal-number'>
                <span class="present_price goods-detail-present_price red-text">¥<{$special_goods.price}></span>
            </div>
        </div>
    </div>
</div>
<div class="special-goods-deail">
    <{$special_goods.info}>
</div>