.padding-bottom{
	padding-bottom:15px;
}

.padding-top{
	padding-top:15px;
}

.margin-top{
	margin-top: 15px;
}

.upload-btn{
	margin-top:5px;
	background-color: #CCC;
}

.img-upload{
	height: 200px;
}

.white-background{
	background-color: #FFF;
}