body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {margin:0; padding:0;font-style: normal;font-size: 100%; font-family: inherit;} 
ol, ul ,li{list-style: none;} 
img {border: 0;} 
body {color:#000;font: 12px/1.5 Arial, Helvetica, sans-serif;background-color:#fff;} 
.clearfix:after {clear:both; content:"."; display:block; height:0pt; visibility:hidden; overflow:hidden;} 
.clear{clear:both;height:1px; margin-top:-1px; width:100%;} 

.dis{display:block;} 
.undis{display:none;} 


/*header*/
#header-out{
	border-bottom:1px solid #ccc;
	}

#header-main{
	width:960px;
	margin:0 auto;
	height:60px;
	margin-top:10px;
	}
		
		
/*main*/
#main-bg{
	background-image:url(/Public/Image/bigimg-bg.jpg);
        background-repeat:no-repeat;
	}

#main{
	width:960px;
	min-height:500px;
	margin:0 auto;
	}
        
#main-form input{
        height:30px;
        line-height:30px;
        margin-bottom:20px;
        }

#main-form img{
    margin-left:10px;
        }
	
#right-form{
	float:right;
	width:377px;
	margin-top:70px;
	background-color:#fff;
	}
	
#right-form a{
	color:#000;
	}
	
#form-main{
	padding:50px 0px 30px 50px;
	height:260px;
	border:1px solid #ccc;
	border-bottom:1px dashed #ccc;
	}
	
#form-title{
	font-size:30px;
	margin-bottom:10px;
	color:#ff7e00;
	}
	
#username , #password{
	height:35px;
	padding-left:15px;
	margin-bottom:20px;
	}
	
#sub-btn{
	margin-top:20px;
	float:left;
	height:40px;
	}
	
#forgetBtn{
	float:left;
	margin-top:40px;
	margin-left:20px;
	}
	
#forgetBtn a{
	color:#000;
	text-decoration:none;
	font-size:14px;
	}
	
	
#form-foot{
	padding-top:30px;
	padding-bottom:30px;
	border:1px solid #ccc;
	border-top:0px;
	}
	
/*信息提示*/
#msg-index{
	min-height:300px;
	}

#msg-main{
	width:350px;
	margin:0 auto;
	border:1px solid #ccc;
	text-align:center;
	margin-top:100px;
	}
	
#msg-title{
	height:30px;
	line-height:30px;
	font-size:14px;
	border-bottom:1px solid #ccc;
	background-color:#93c5ea;
	}
	
#msg-info{
	padding:15px;
	}
	
#msg-info p{
	margin-bottom:10px;
	}
		
		
		/*FOOT样式*/
#footer{
	clear:both;
	margin:0px auto;
	background-image:url(/images/foot.jpg);
	background-repeat:repeat-x;
	border-top:1px solid #CCC; 
	height:120px;
	}
	
	#footer a{
	text-decoration: none;
	color : #797979;
	}
	
#footer-main{
	width:700px;
	padding-top:10px;
	margin:0px auto;
	}
	
#program-title{
	float:left;
	color:#797979;
	}
	
#program-info{
	float:left;
	color:#797979;
	margin-bottom:10px;
	}
	
#program-hot{
	float:right;
	color:#797979;
	}
	
#program-cool{
	clear:both;
	text-align:center;
	color:#797979;
	width:670px;
	height:26px;
	margin:0px auto;
	}
	

.rolinList, .subtitle,.subtitle h2{ margin:0; padding:0; border:0; background:#FAFAFA; }
.subtitle{ list-style:none}
.rolinList{ width:200px; height:auto; margin:20px auto 0 auto; text-align:left}
.rolinList li{margin-bottom:1px;border:1px solid #DADADA}
.rolinList li h2{ width:178px; height:40px;  background:#fff; font-size:14px; line-height:40px; padding-left:20px; color:#333; cursor:pointer}
.content{ height:150px;width:190px;  background:#fff;  background:#FAFAFA}
.content p{ margin:12px}
	
#menu_out{
	clear:both;
	height:30px;
	background-color:#fff;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
}

#menu-in{
	width:960px;
	margin:0 auto;
	}

/*一级导航*/
#menu-ul{
	float:left;
	height:30px;
	line-height:30px;
	}

#menu-ul li{
	float:left;
	width:120px;
	text-align:center;
	border-left:1px solid #ccc;
}

#menu-ul li:hover{
	background-color:#ef8e1b;
	}

#li0 a,#li1 a,#li2 a,#li3 a,#li4 a{
	color:#000;
	text-decoration:none;
	display:block;
}

#li0 a:hover,#li1 a:hover,#li2 a:hover,#li3 a:hover,#li4 a:hover{
	color:#fff;
	_color:#000;
	}

#menu-txt{
	float:right;
	height:30px;
	width:121px;
	}