<div class="img-mark">
    <!-- 头像、名字 -->
    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="placeholder user-head-margin">
                <div class="weui-media-box__hd">
                    <img class="user-head" src="<{$userInfo.headimgurl}>" alt="Alexander's">
                    <h4 class="weui-media-box__title text-center user-name" style="color: #fff;"><{$userInfo.nickname}></h4>
                </div>
            </div>
        </div>
    </div>
    <!-- 个人优惠信息 -->
    <div class="weui-flex">
        <div class="weui-flex__item" style="text-align: center;"><div class="placeholder">
            <span class="weui-media-box__desc" style="color: #fff;">余额:<span class="account_balance"></span>.00元</span>
        </div></div>
    </div>
</div>