.user-top{
	text-align: center;
	background-position : top center;
	background-image: url(http://img.msa12365.com/03e4840e69452bbe2b4b7d466da30963.jpg);
	background-size : auto 15em;
	background-repeat: no-repeat;
	padding-top : 130px;
}